@font-face {
  font-family: "inter-bold";
  src: url("./assets/fonts/static/Inter-Bold.ttf");
}

@font-face {
  font-family: "inter";
  src: url("./assets/fonts/static/Inter-Regular.ttf");
}

@font-face {
  font-family: "inter-semibold";
  src: url("./assets/fonts/static/Inter-SemiBold.ttf");
}

*, 
*::before, 
*::after {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background-color: hsl(0, 0%, 8%);
  text-align: center;
  color: hsl(0, 0%, 100%);
}



a:hover {
  background-color: hsl(75, 94%, 57%);
  color: hsl(0, 0%, 8%);
}

.name {
  font-family: "inter-bold";
}

.place {
  margin-top: -8px;
  font-size: 14px;
  font-family: "inter-semibold";
  color: hsl(75, 94%, 57%);
  ;
}

.speciality {
  font-family: "inter";
  font-size: 14px;
  margin-top: 25px;
  margin-bottom: 25px;
}

#container img {
  width: 80px;
  height: 80px;
  border-radius: 100%;
}

@media(any-pointer: fine) {
  #container {
    margin: 0;
    padding: 30px;
    border-radius: 12px;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: hsl(0, 0%, 12%);
  }

  a {
    display: block;
    background-color: hsl(0, 0%, 20%);
    color: hsl(0, 0%, 100%);
    padding: 15px 80px;
    border-radius: 6px;
    text-decoration: none;
    font-family: "inter-semibold";
    margin-top: 14px;
    font-size: 14px;
  }
}

@media(any-pointer: coarse) {
  #container {
    margin: 0;
    padding: 25px;
    border-radius: 12px;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: hsl(0, 0%, 12%);
  }

  a {
    display: block;
    background-color: hsl(0, 0%, 20%);
    color: hsl(0, 0%, 100%);
    padding: 15px 70px;
    border-radius: 6px;
    text-decoration: none;
    font-family: "inter-semibold";
    margin-top: 14px;
    font-size: 14px;
  }
}


