@font-face {
  font-family: "inter-bold";
  src: url("./assets/fonts/static/Inter-Bold.ttf");
}

@font-face {
  font-family: "inter";
  src: url("./assets/fonts/static/Inter-Regular.ttf");
}

@font-face {
  font-family: "inter-semibold";
  src: url("./assets/fonts/static/Inter-SemiBold.ttf");
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: hsl(0, 0%, 8%);
  color: hsl(0, 0%, 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

a:hover {
  background-color: hsl(75, 94%, 57%);
  color: hsl(0, 0%, 8%);
}

.name {
  font-family: "inter-bold";
}

.place {
  margin-top: -8px;
  font-size: 14px;
  font-family: "inter-semibold";
  color: hsl(75, 94%, 57%);
}

.speciality {
  font-family: "inter";
  font-size: 14px;
  margin-top: 25px;
  margin-bottom: 25px;
}

#container img {
  width: 80px;
  height: 80px;
  border-radius: 100%;
}

#container {
  padding: 30px;
  border-radius: 12px;
  background-color: hsl(0, 0%, 12%);
  text-align: center;
}

a {
  display: block;
  background-color: hsl(0, 0%, 20%);
  color: hsl(0, 0%, 100%);
  padding: 15px 80px;
  border-radius: 6px;
  text-decoration: none;
  font-family: "inter-semibold";
  margin-top: 14px;
  font-size: 14px;
}

@media (max-width: 600px) {
  a {
    padding: 15px 30px;
  }

  .speciality, .place{
    font-size: 12px;
  }

  #container {
    padding: 20px;
  }

  #container img {
    width: 80px;
    height: 80px;
  }
}
